extends ../includes/simpleheader.pug
block content
    section(class="margin")
            if(user)
                h2="new password for "+user
                if(error)
                    p=error

                form(action="/newpassword", method="post")
                    label(for="password1") new password:
                    br
                    input(type="password", required, name="newpasswordfirst",value="", class="formfield")
                    br
                    label(for="password2") repeate new password:
                    br
                    input(type="password", required, name="newpasswordsecond",value="", class="formfield")
                    br
                    button(type="submit") Save new password
            else 
                h1 somthing went wrong